<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmers Markets</title>
</head>
<body>
<h1>Farmers Markets</h1>
<form th:action="@{/search}" method="get">
    <input type="text" name="query" placeholder="Search by Location (City, State, or Zip code)" />
    <input type="number" name="distance" placeholder="Distance in miles" />
    <button type="submit">Search</button>
</form>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>
<ul>
    <li th:each="market : ${markets}">
        <a th:href="@{'/marketDetailByName?marketName=' + ${market}}">
            <span th:text="${market}"></span>
        </a>
    </li>
</ul>
<div>
    <a th:if="${currentPage > 1}" th:href="@{'/?page=' + (${currentPage} - 1) + '&query=' + ${query}}">Previous</a>
    <a th:if="${hasNextPage}" th:href="@{'/?page=' + (${currentPage} + 1) + '&query=' + ${query}}">Next</a>
</div>
</body>
</html>